@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}*/
*:focus {
  outline: 0;
  outline: none;
}
ol,
ul {
  margin-bottom: 0;
  list-style: none;
}
a:visited, a:active {color:black}
a:focus {
  outline: 0;
  outline: none;
}
a{color:#0162e8}
a, button {cursor:pointer}
input:focus, textarea:focus, select:focus, button:focus {
  outline: none;
  outline: 0;
}

body {
  background: #e2e6f1;
  font-family: 'Mulish', sans-serif;
  font-size: 13px;
  min-height: 100vh;
display: flex;
flex-direction: column;
justify-content: flex-start;
position: relative;
color:#031b4e;
}

body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
address,
em,
img,
strong,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
thead,
tbody,
tfoot,
tr,
th,
td, button, input, select, textarea
 {
  font-family: 'Mulish', sans-serif;
}
.warpper{width:100%;margin:0;height: 100%;min-height: 100%}
.icon-menu-mb{display:none}
.main-header{position: fixed;border-bottom: 1px solid #d3dfef;height: 54px;background: #fff;width:100%;z-index:100;top:0;left:0}
.container-vb{width: 100%;max-width: 1200px;padding:0;margin:0 auto}
.main-header .container-vb{height: 100%;display: flex;align-items: center;justify-content: space-between;width: 100%;max-width: 1200px;padding:0;margin:0 auto}
.main-header-left{display: flex;align-items: center;}
.main-header-right{display: flex;align-items: center;}
.nav-ul{display: flex;flex-wrap: wrap;padding-left: 0;margin-bottom: 0;list-style: none;align-items:center}
.main-header-message, .main-header-notification, .main-profile-menu {position: relative;margin: auto 0px;}
.nav-link i{font-size:20px}
.main-profile-menu a img {width: 37px;height: 37px;border-radius: 50%;margin: auto 10px;}
.main-header-message > a, .main-header-notification > a{
    display: block;
    font-size: 22px;
    color: #272746;
    position: relative;
    line-height: 37px;
    outline: none;
    height: 40px;
    width: 40px;
    background: transparent;
    margin: auto;
    text-align: center;
}
.main-header-message .box-dropdown, .main-header-notification .box-dropdown{width: 300px;
position: absolute;
left: auto;
right: -14px;
bottom: auto;
border-color: transparent;
border-width: 1px;
z-index: 9;
top: 40px;
border-radius: 6px;
min-width: 245px;
-webkit-box-shadow: 0px 0px 15px 1px rgba(69, 65, 78, 0.2);
box-shadow: 0px 0px 15px 1px rgba(69, 65, 78, 0.2);
}
.main-profile-menu .box-dropdown{width: 300px;
position: absolute;
left: auto;
right: -8px;
bottom: auto;
border-color: transparent;
border-width: 1px;
z-index: 9;
top: 46px;
border-radius: 6px;
min-width: 245px;
-webkit-box-shadow: 0px 0px 15px 1px rgba(69, 65, 78, 0.2);
box-shadow: 0px 0px 15px 1px rgba(69, 65, 78, 0.2);
}
.box-dropdown{position: absolute;
top: 100%;
left: 0;
z-index: 1000;
display: none;
float: left;
min-width: 10rem;
padding:0;
margin: 0.125rem 0 0;
font-size: 0.875rem;
color: #031b4e;
text-align: left;
list-style: none;
background-color: #fff;
background-clip: padding-box;
border: 1px solid rgba(138, 153, 191, 0.125);}
.box-dropdown::after {
    content: '';
    position: absolute;
    top: -8.5px;
    right: 24px;
    border-bottom: 9px solid #0162e8;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
}
.active .box-dropdown {
    display: block;
}
.menu-header-content{background-color: #0162e8;padding: 1.2rem;border-top-left-radius: 6px;border-top-right-radius: 6px;}
.menu-header-content h1 {font-size:16px;color:#fff}
.menu-header-content p {font-size:14px;color:#fff;opacity:0.6}
.main-message-list{width:100%;display:inline-block}
.main-message-list ul {margin:0;padding:0}
.main-message-list ul li {width:100%;float:left;padding:10px;border-bottom:1px solid #e3e8f7}
.main-message-list ul li:hover {background:#f6f6fb;color:#45567b}
.main-message-list ul li:last-child {border-bottom:0}
.cover-image {width:40px;height:40px;float:left}
.cover-image img {width:40px;height:40px;border-radius:50%}
.w-90{width:calc(100% - 40px);float:left;padding:0 0 0 10px}
.w-90 h2 {font-size:14px;color:#031b4e}
.w-90 p {font-size:13px;color:#005bea}
.w-90 span {display:block;font-size:12px;color:#8d8db3}
.dropdown-footer{border-top: 1px solid #dce1ef;
padding: 10px;
background: #f6f6fb;
box-shadow: -8px 12px 18px 0 rgba(25, 42, 70, 0.1);text-align:center}
.dropdown-footer a {color:#005bea;font-size:16px;font-weight:900}
.main-header-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
	border-top-right-radius: 7px;
border-top-left-radius: 7px;
background-color: #0162e8;
padding: 1rem
}
.main-img-user{display: inline-block;
position: relative;
width: 45px;
height: 45px;}
.main-img-user img {width:45px;height:45px;border-radius:50%}
.my-auto{padding:0 10px}
.my-auto h6 {color:#fff;font-size:14px;margin-bottom:5px}
.my-auto span {display:block;font-size:12px;color:#fff;opacity:0.6}
.wd-100p{width:100%;display: flex}

.main-profile-list{width:100%;display:inline-block}
.main-profile-list ul {margin:0;padding:0}
.main-profile-list ul li {width:100%;float:left;padding:10px;border-bottom:1px solid #e3e8f7}
.main-profile-list ul li:hover {background:#f6f6fb;color:#45567b}
.main-profile-list ul li:last-child {border-bottom:0}
.main-profile-list ul li a i {font-size:20px}
.main-menu{width:100%;position:fixed;top:54px;left:0;z-index:99}
.horizontal-main{position: relative;background: #005bea;display:inline-block;
box-shadow: -8px 12px 18px 0 rgba(25, 42, 70, 0.13);
border-top: 1px solid rgba(255, 255, 255, 0.2);border-bottom: 1px solid #d5d8e2;margin-top: 0;width: 100%;z-index: 10}
.horizontalMenu-list{text-align: left;
margin: 0 auto 0 auto;
width: 100%;
display: block;
padding: 0;}
.horizontalMenu-list li{text-align: center;
display: block;
padding: 0;
margin: 0;
float: left;}
.horizontalMenu-list li a{display: block;
margin: 0px 2px;
border-radius: 0px;
text-decoration: none;
position: relative;
color: rgba(255, 255, 255, 0.8);
padding: 10px 12px 10px 12px;
font-weight: 900;font-size:13px}
.horizontalMenu-list li:first-child a {padding-left:0}
.horizontalMenu-list li a:hover{color:#fff}
.sub-icon i.size-i, .size-i{font-size:14px;margin-right:5px}
.horizontalMenu-click{display:none}
.sub-icon i {font-size:10px}
.horizontalMenu-list > li > ul.sub-menu {
    opacity: 0;
    visibility: hidden;
    -o-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    -o-transition: -o-transform 0.3s, opacity 0.3s;
    -ms-transition: -ms-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform: rotateX(-75deg);
    -o-transform: rotateX(-75deg);
    -moz-transform: rotateX(-75deg);
    -webkit-transform: rotateX(-75deg);
}
.horizontalMenu-list > li > ul.sub-menu {
    position: absolute;
    top: 36px;
    z-index: 1000;
    margin: 0px;
    padding: 5px;
    min-width: 190px;
    background-color: #fff;
    box-shadow: 0 8px 16px 0 rgba(230, 233, 239, 0.4);
    border: 1px solid #ecf0fa;
}
 .horizontalMenu-list > li > ul.sub-menu > li > ul.sub-menu {
    opacity: 0;
    visibility: hidden;
    transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform: rotateX(-75deg);
    -o-transform: rotateX(-75deg);
    -moz-transform: rotateX(-75deg);
    -webkit-transform: rotateX(-75deg);
}
.horizontalMenu-list > li > ul.sub-menu > li > ul.sub-menu {
    min-width: 220px;
    position: absolute;
    left: 100%;
    top: -6px;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #fff;
    box-shadow: 0 8px 16px 0 rgba(230, 233, 239, 0.4);
    border: 1px solid #e7eaf3;
}
.horizontalMenu-list > li > ul.sub-menu > li:hover > ul.sub-menu {
    opacity: 1;
    visibility: visible;
    -o-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    -o-transition: -o-transform 0.4s, opacity 0.4s;
    -ms-transition: -ms-transform 0.4s, opacity 0.4s;
    -moz-transition: -moz-transform 0.4s, opacity 0.4s;
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
}
.horizontalMenu-list > li > ul.sub-menu > li, .horizontalMenu-list > li > ul.sub-menu > li > ul.sub-menu > li {
    position: relative;
    margin: 0px;
    padding: 0px;
    display: block;
	float:none
}
 .horizontalMenu-list > li > ul.sub-menu > li > a, .horizontalMenu-list > li > ul.sub-menu > li > ul.sub-menu > li > a {
    background-image: none;
    color: #6d7790;
    text-align: left;
    display: block;
    line-height: 22px;
    padding:5px 30px;
    text-transform: none;
    font-size: 13px;
    letter-spacing: normal;
    border-right: 0px solid;
}
 .horizontalMenu-list > li > ul.sub-menu > li > a:hover, .horizontalMenu-list > li > ul.sub-menu > li > ul.sub-menu > li > a:hover {color:#0162e8}
.horizontalMenu-list > li:hover > ul.sub-menu{
    opacity: 1;
    visibility: visible;
    transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
}
.i-position{
    position: absolute;
    top: 11px;
    left: 12px;
    font-size: 10px;
    color: #8b96af;
    display: block;
}
 .horizontalMenu-list > li > ul.sub-menu > li > a:hover .i-position {color:#0162e8}
 .row-deck{display: flex;
flex-wrap: wrap;width:100%}
.row-deck-50{display: flex;flex: 0 0 50%;max-width: 50%;padding-left: 10px;padding-right: 10px;position: relative;
width: 100%;}
.row-deck-100{display: flex;flex: 0 0 100%;max-width: 100%;position: relative;
width: 100%;}
.card-table{flex: 1 1 auto;padding:5px 20px;border-radius: 7px;position: relative;
display: flex;
flex-direction: column;
min-width: 0;
word-wrap: break-word;
background: #fff ;border: 1px solid #d0d7e9;margin-bottom: 1.3rem;
box-shadow: -8px 12px 18px 0 #dadee8;}
.main-content{width:100%;margin-top:115px}
.card-header{display:flex;justify-content: space-between;align-items:center;border-bottom:1px solid #d0d7e9;padding:10px 0;margin-bottom:0;position:relative}
.card-header h6{font-size:16px;text-transform:uppercase}
.ul-tab {margin:0;padding:0;display:flex}
.ul-tab li {float:left;padding:0 10px;font-size:14px;font-weight:900;}
.ul-tab li a{color:#031b4e;border-bottom:3px solid transparent;padding:0 5px 10px}
.ul-tab li a span {background:#ecf0fb;border-radius:3px;font-size:11px;padding:0 5px;margin-left:5px}
.ul-tab li.active a, .ul-tab li:hover a{color:#0162e8;border-bottom:3px solid #0162e8}
.ul-tab li.active a span, .ul-tab li:hover a span{color:#031b4e}

.table-responsive{display: block;width: 100%;overflow-x: auto;-webkit-overflow-scrolling: touch;}
.table-vbdh{width: 100%;color: #22252f;border: 0;border-collapse: collapse;word-wrap: break-word;}
.table-vbdh th, .table-vbdh td {
    padding:8px 4px;
    line-height: 1.462;
	color: #37374e;
    font-weight: 400;
    font-size: 12px;
    border: 1px solid #dde2ef;
}
.table-vbdh th{border-top-width: 1px;white-space:nowrap;font-weight: 900;font-size:13px}
.table-vbdh td{vertical-align:top}
.table-vbdh thead tr	{background:#ecf0fa!important}
.table-vbdh tbody tr {
    background-color:#fff;
}
.table-vbdh tbody tr:hover {
    color: #031b4e;
    background-color: #eff3f7;
}
.table-vbdh.table-no-hover tbody tr:hover {background:#fff}
.nowrap{white-space:nowrap}
.nd-nq{font-weight:900;font-size:13px}
.nd-link{font-size:12px;font-weight:400}
.tt-us{padding-top:5px}
.center{text-align:center}
.p-red{color:red}
.tt-us i {color:#21c13b;padding-right:3px}
.tt-us span {padding-right:9px}
.tt-us span:last-child{padding-right:0}
.p-blue{color:#0162e8}
.row-xemtc{width:100%;display:flex;justify-content:flex-end;align-items: center;padding:10px 0 0}
.btn-blue{
line-height: 1.538;
padding: 9px 20px;color: #fff;
background-color: #0162e8;
border:1px solid #0162e8;font-weight: 900;text-align: center;border-radius: 3px;font-size:13px;}
.btn-blue:hover {
    color: #fff;
    background-color: #045cd6;
    border-color: #045cd6;
}
.word-break{word-break: break-word;max-width: 172px;display: inline-block;}
.word-break i {padding-right:3px}
i.float-right{float:right;font-size: 12px;color: #8b96af;padding-top:5px}
.trangthai-1{padding:4px 5px;background:#23c03b;font-size:13px;color:#fff;border-radius:3px;width:75px;text-align:center;display:inline-block}
.trangthai-2{padding:4px 5px;background:#00b8fe;font-size:13px;color:#fff;border-radius:3px;width:75px;text-align:center;display:inline-block}
.trangthai-3{padding:4px 5px;background:#ec2c37;font-size:13px;color:#fff;border-radius:3px;width:75px;text-align:center;display:inline-block}
.table-vbdh td.middle, .middle{vertical-align:middle}
.a-tooltip-blue{font-size:14px;padding:0 5px}
.a-tooltip-red{color:red;font-size:14px;padding:0 5px}
.max-width-124{max-width:124px}
.main-footer{background-color: #fff;
border-top: 1px solid #e3e8f7;
margin-top: 10px;height:40px;text-align:center}
.main-footer span {
    font-size: 13px;
    color: #737f9e;
    text-align: center;
    line-height: 3.7;
}
.main-menu-left{position:fixed;top:115px;left:0;width:40px;background:#fff;box-shadow: -8px 12px 18px 0 #dadee8;}
.main-menu-left ul {margin:0;padding:0;width:100%}
.main-menu-left ul li {display:block;width:calc(100% - 2px);font-size:18px;text-align:center;padding:7px 0;background:#ecf0fb;margin:2px 2px 0 0}
.main-menu-left ul li:last-child{margin-bottom:2px}
.main-menu-left ul li:hover {opacity:0.8}
.main-slect-year{position:relative;width:60px}
.main-slect-year::after {
    content: "\f078";
    display: block;
    right: 5px;
    top: 8px;
   font-family: 'Font Awesome 5 Free';
font-weight: 900;
    pointer-events: none;
	font-size:10px;
	position:absolute
}
.main-slect-year select{display:block;background:#ecf0fb;
width: 100%;
height: 24px;
padding:0 5px;
border-radius: 3px;
border: 0;
outline: none;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
color: #606060;font-size:13px}
.pulse-new{background:red;color:#fff;font-size:10px;text-align:center;min-width:16px;height:16px;position:absolute;right:0;border-radius:16px;line-height:16px;}
.breadcrumb-header{display: flex;
margin-top: -10px;
margin-bottom: 10px;
width: 100%;justify-content: space-between}
.breadcrumb-header .btn-blue {padding:2px 10px}
.my-breadcrumb{display:flex;align-items:center}
.content-title {font-size:14px;}
.text-muted{color: #7987a1;font-size:13px;margin-left:5px}
.my-breadcrumb-right{display:flex}
.card-search{display:inline-block;width:100%;background-color: #dde2ef;padding:10px;margin-bottom:20px}
.row-form{display:flex;align-items:center;flex-wrap: wrap;margin-bottom:10px}
.lb-w1{font-size:13px;font-weight:900;flex: 0 0 150px;
max-width: 150px;}
.col-ip-1{width: 100%;
max-width: calc(100% - 150px);}
.input-group-search{position: relative;
display: flex;
flex-wrap: wrap;
align-items: stretch;
width: 100%;}
.form-control {
    display: block;
    width: 100%;
    height: 24px;
    padding: 2px 10px;
    font-size:13px;
    font-weight: 400;
    line-height: 24px;
    color: #4d5875;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e1e5ef;
    border-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
  
}
.input-group-search .form-control {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
	height:30px;line-height:30px
}
.input-group-append {
    display: flex;margin-left: -1px;
}
.btn-search{position: relative;
z-index: 2;color: #fff;
background-color: #0162e8;
display: inline-block;
font-weight: 900;
font-size:13px;
text-align: center;
vertical-align: middle;
user-select: none;
border: 1px solid #0162e8;border-radius: 3px;border-top-left-radius: 0;
border-bottom-left-radius: 0;border-width: 0;
line-height: 26px;
padding: 2px 20px;}
.mg-bt-10{margin-bottom:10px}
.rdiobox {
    font-weight: normal;
    position: relative;
    display: block;
    line-height: 18px;
}
.rdiobox input[type="radio"] {
    opacity: 0;
    margin: 0;
	box-sizing: border-box;
padding: 0;
}
.rdiobox span {
    padding-left: 8px;
}
.rdiobox input[type="radio"]:checked + span::before {
    border-color: transparent;
    background-color: #0162e8;
}
.rdiobox span::before {
    content: '';
    width: 14px;
    height: 14px;
	border: 1px solid #949eb7;
	border-radius: 50px;
top: 0px;
left: 0;
}	
.rdiobox span::before, .rdiobox span::after {
    line-height: 18px;
    position: absolute;
}
.rdiobox input[type="radio"]:checked + span::after {
    display: block;
}
.rdiobox span::after {
    content: '';
    width: 6px;
    height: 6px;
    background-color: #fff;
    border-radius: 50px;
    top: 5px;
    left: 5px;
    display: none;
}
.col-rd-3{float:left;padding-right:10px}
.search-nangcao{width:100%;display:none;padding:10px;background:#fff;}
.search-nangcao.open-search{display:block}
.col-f-4{flex-basis: 0;
flex-grow: 1;
max-width: 100%;padding-left: 10px;
padding-right: 10px;}
.lb-block{font-size:13px;font-weight:900;margin-bottom:5px;display:block}
.slect-customer{position:relative;width:100%}
.slect-customer::after {
    content: "\f078";
    display: block;
    right: 8px;
    top: 6px;
   font-family: 'Font Awesome 5 Free';
font-weight: 900;
    pointer-events: none;
	font-size:10px;
	position:absolute
}
.slect-customer select{display:block;background:#fff;
width: 100%;
height: 24px;
border-radius: 3px;
border: 1px solid #e1e5ef;
outline: none;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
color: #606060;font-size:13px}
.div-date{width:100%;display:flex;align-items: center;flex-wrap: wrap;}
.col-d-4{flex: 0 0 40%;
max-width: 40%;}
.col-d-8{flex: 0 0 80%;
max-width: 80%;}
.col-d-2{flex: 0 0 20%;
max-width: 20%;text-align:center}
.col-d-25{flex: 0 0 25%;
max-width: 25%;text-align:center}
.custom-checkbox{position: relative;
display: block;
min-height: 24px;
padding-left: 0;}
input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
}
.custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.custom-control-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: middle;
	padding-left:24px;
	font-size:12px;
	line-height:14px
}
.custom-checkbox .custom-control-label::before {
    border-radius: 3px;
}
.custom-control-label::before {
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.custom-control-label::before {
    position: absolute;
    top:-2px;
    left:0;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    content: "";
    background-color: #fff;
    border: #949eb7 solid 1px;
}
.custom-control-label::after {
    position: absolute;
    top:0px;
    left: 4px;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
	color:#fff
}
.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #0162e8;
    background-color: #0162e8;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
     content: "\f00c";
    display: block;
   font-family: 'Font Awesome 5 Free';
font-weight: 900;
font-size:10px
}
.btn-blue-tk{width:calc(50% - 10px);padding:5px 0;text-align:center;float:left;margin:0 5px}
.btn-black-tk{width:calc(50% - 10px);padding:5px 0;text-align:center;background-color: #737f9e;
border-color: #737f9e;float:left;margin:0 5px}
.btn-red-tk{background-color:#ee335e;border-color:#ee335e}
.align-items-end{align-items:end}
.timkiem-nangcao{background:#00b9ff;border:1px solid #00b9ff;border-radius:3px;color:#fff;
height: 30px;
line-height: 30px;
padding: 0 10px;
margin-left: 10px;font-size:20px}
.minus .fa-search-plus:before{content: "\f010";}
.nd-nq i {padding-right:8px}
.nd-p{font-size:13px}
.click-xo{font-size:13px;color:#0162e8;margin-right:10px}
.click-xo:hover, .click-xo.active{color:#ee335e}
.click-xo i {padding-right:5px}
.row-nutbam-click{width:100%;display:flex;align-items:center;flex-wrap: wrap;margin-top:5px}
.nguoi-luanchuyen{width:100%;display:flex;align-items:center;flex-wrap: wrap;font-size:14px;margin-top:5px}
.nguoi-luanchuyen img {width:24px;height:24px;border-radius:50%;margin:0 5px}
.nguoi-luanchuyen img:first-child{margin-left:0}
.a-link{display:flex;background:#737f9e;width:100%;align-items:center;padding:2px 5px;margin-bottom:1px;color:#fff;position:relative}
.a-link:hover {background:#64738f;}
.a-link i {padding-right:5px}
.max-width-115{min-width:170px}
.show-dulieu{position: relative;
background:#0162e8;
background-clip: border-box;
border-radius: 5px;
padding:5px;
margin: 10px 0;
box-shadow: -8px 12px 8px 0 #dadee8;}
.row-dulieu{width:100%;background:#fff;padding:0}
.row-dulieu .card-header h6 {padding-left:10px}
.row-dulieu .table-no-hover{padding:0 10px}
/* tooltip ****/
.tooltip {
	position: absolute;
	z-index: 1070;
	display: block;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-style: normal;
	font-weight: 400;
	line-height: 1.5;
	text-align: left;
	text-align: start;
	text-decoration: none;
	text-shadow: none;
	text-transform: none;
	letter-spacing: normal;
	word-break: normal;
	word-spacing: normal;
	white-space: normal;
	line-break: auto;
	font-size: .875rem;
	word-wrap: break-word;
	opacity: 0
}

.tooltip.show {
	opacity: .9
}

.tooltip .arrow {
	position: absolute;
	display: block;
	width: 5px;
	height: 5px
}

.tooltip .arrow::before {
	position: absolute;
	border-color: transparent;
	border-style: solid
}

.tooltip.bs-tooltip-auto[x-placement^=top],
.tooltip.bs-tooltip-top {
	padding: 5px 0
}

.tooltip.bs-tooltip-auto[x-placement^=top] .arrow,
.tooltip.bs-tooltip-top .arrow {
	bottom: 0
}

.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before,
.tooltip.bs-tooltip-top .arrow::before {
	margin-left: -3px;
	content: "";
	border-width: 5px 5px 0;
	border-top-color: #000
}

.tooltip.bs-tooltip-auto[x-placement^=right],
.tooltip.bs-tooltip-right {
	padding: 0 5px
}

.tooltip.bs-tooltip-auto[x-placement^=right] .arrow,
.tooltip.bs-tooltip-right .arrow {
	left: 0
}

.tooltip.bs-tooltip-auto[x-placement^=right] .arrow::before,
.tooltip.bs-tooltip-right .arrow::before {
	margin-top: -3px;
	content: "";
	border-width: 5px 5px 5px 0;
	border-right-color: #000
}

.tooltip.bs-tooltip-auto[x-placement^=bottom],
.tooltip.bs-tooltip-bottom {
	padding: 5px 0
}

.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow,
.tooltip.bs-tooltip-bottom .arrow {
	top: 0
}

.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.tooltip.bs-tooltip-bottom .arrow::before {
	margin-left: -3px;
	content: "";
	border-width: 0 5px 5px;
	border-bottom-color: #000
}

.tooltip.bs-tooltip-auto[x-placement^=left],
.tooltip.bs-tooltip-left {
	padding: 0 5px
}

.tooltip.bs-tooltip-auto[x-placement^=left] .arrow,
.tooltip.bs-tooltip-left .arrow {
	right: 0
}

.tooltip.bs-tooltip-auto[x-placement^=left] .arrow::before,
.tooltip.bs-tooltip-left .arrow::before {
	right: 0;
	margin-top: -3px;
	content: "";
	border-width: 5px 0 5px 5px;
	border-left-color: #000
}

.tooltip-inner {
	max-width: 200px;
	padding: 3px 8px;
	color: #fff;
	text-align: center;
	background-color: #000;
	border-radius: .25rem
}
/*****************/
.table-vbdh td.td-color-1{background:#ecf0fa;width:150px;color:#37374e;font-weight:900}
.gopykien{border: 1px solid #deebfd;box-shadow: -8px 12px 18px 0 #dadee8;background: #dde2ef;border-radius: 4px;}
textarea.form-control {height:auto;max-width:100%}
.lb-size{font-size:14px;padding-top:5px}
.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}
.input-group > .form-control{
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}
.browse-file.form-control {}
.border-right-0 {
    border-right: 0 !important;
}
.form-control[readonly] {
    opacity: 1;
}
.file-browser .btn-default {
    background: #f1f4fb;
    border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
    padding: 3px 15px;
    color: #68769a;
    border: 1px solid #e2e8f5;
}
.file-browser .btn-default {
    color: #68769a;
}
input[type="file"] {background:#f1f4fb;padding:5px;color:#68769a;width:100%}
.btn-blue-tk.float-right{float:right}
.tab-pane.active {
    display: block;
}
.tab-pane {
    display: none;
}
.ul-tab.nav li a.active, .ul-tab li:hover a{color:#0162e8;border-bottom:3px solid #0162e8}
.ul-tab.nav li a.active span, .ul-tab li:hover a span{color:#031b4e}
.color-red{color:#ee335e}
.color-green{color:#22c03c}
.width-30{width:30px}
.width-90{width:90px}
.w-auto{width:auto;padding:2px 5px}
.them-pb{display:flex;justify-content:flex-end}
.btn-blue-2{background-color: #00b9ff;
border-color: #00b9ff;}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.fade.show {
    opacity: 1;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
}

.fade {
    opacity: 0;
    transition: opacity 0.15s linear;
}
.modal.show .modal-dialog {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}
.modal.fade .modal-dialog {
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    -webkit-transform: translate(0, -25%);
    transform: translate(0, -25%);
}

.modal-backdrop.fade {
    opacity: 0;
}
.modal-backdrop.show {
    opacity: 0.5;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}
.modal-dialog{width:100%;background:#fff;border-radius:7px;padding:10px;display:block;position:absolute;top:100px;left:50%;margin-left:-50%}
.modal-400{max-width:500px;margin-left:-250px}
.file-field {
    position: relative;
}

.btn-primary {
    color: #fff;
    background-color: #4285f4 !important;
	font-size:12px;
	padding:5px 10px
}
.file-field span {
    cursor: pointer;
}
.file-field .file-path-wrapper {
    height: 2.5rem;
    padding-left: 10px;
    overflow: hidden;
}
.file-field input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    cursor: pointer;
    filter: alpha(opacity=0);
    opacity: 0;
}
.file-path{webkit-box-sizing: content-box;
    box-sizing: content-box;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;width: 100%;
    height: 26px;
}
.div-login{width:100%;display: flex;
min-height: 100vh;}
.background-login{flex: 0 0 58.33333%;
max-width: 58.33333%;display:flex;min-height: 100vh;}
.background-login img {width:100%;object-fit: cover;}
.form-login{flex: 0 0 41.66667%;
max-width: 41.66667%;background:#fff;min-height: 100vh;position:relative}
.max-width-form{width:90%;margin:60px auto 0;padding:30px}
.logo-login{object-fit: contain;margin:0 auto;display:block}
.form-dangnhap{width:100%;display:flex;margin-top:50px;flex-direction:column}
.form-dangnhap .lb-block {font-size:15px}
.form-dangnhap .form-control{height:30px;line-height:30px}
.width-100{width:100%;}
.mg-20 {margin-top:20px}
.fotter-login{position:absolute;bottom:0;left:0;text-align:Center;font-size:13px;width:100%;padding:10px 0}
.bg-1 {background:#dde2ef}
.show-themmoi{width:100%;display:flex;flex-direction:column;background:#fff;padding:10px;display:none}
.show-gopy{width:100%;display:flex;flex-direction:column;background:#fff;padding:10px;display:none}
.open-duthao .show-themmoi{display:inline-block}
.open-gopy .show-gopy{display:inline-block}
.tm-gy{width:100%;display:inline-block}
.click-themmoi{float:right;}
.click-goiy{float:right;}
.open-duthao .click-themmoi{margin-bottom:10px;background-color: #045cd6;
border-color: #045cd6;}
.open-gopy .click-goiy{margin-bottom:10px;background-color: #045cd6;
border-color: #045cd6;}
.pd-0{padding:0}
.eye-ks em{color:red;font-style:normal}
.eye-ks i{padding:0 5px;color:#0162e8}
.red{color:red}
.align-items-end{align-items:end}
.float-right{float:right}
.float-left{float:left}
.show-chuyenlienthong{width:100%;display:none;flex-direction:column;background:#dde2ef;padding:10px;margin-bottom:20px}
.show-chuyenlienthong.open-chuyen{display:flex}
.box-lienthong{width:100%;display:flex;justify-content:space-between;}
.item-1 {flex: 0 0 300px;
max-width: 300px;background:#fff;padding:10px;}
.item-2 {flex: 0 0 50px;
max-width: 50px;}
.item-3 {flex: 0 0 calc(100% - 350px);
max-width: calc(100% - 350px);background:#fff;padding:10px;}
select[multiple], select[size] {
    height: auto;
}
.div-chon{display: flex;
justify-content: center;
flex-direction: column;
height: 100%;padding:0 5px}
.mg-5{margin-bottom:5px}
.row-chuyen{width:100%;display:flex;flex-direction:column}
.box-chuyendv{width:100%;display: flex;align-items:center;margin-bottom:10px}
.item{width:30px}
.item span {width:25px;height:25px;border-radius:50%;text-align:Center;background:#737f9e;color:#fff;line-height:25px;display:block}
.item-center {flex-grow:1}
.item-center h4 {font-weight:900;font-size:13px}
.show-themmoi.bg-tm {border: 1px solid #deebfd;
box-shadow: -8px 12px 18px 0 #dadee8;
background: #dde2ef;
border-radius: 4px;}
.a-link .fa-caret-square-down{position:absolute;top:5px;right:0}
.dropdown {
    position: relative;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}
.dropdown-menu.show {
    display: block;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: 5px 10px;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
	font-size:13px
}
.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 3px;
	margin:10px 0;
}
.pagination .page-item:last-child .page-link, .pagination .page-item:first-child .page-link {
    border-radius: 4px;
}
.page-item:first-child .page-link {
margin-left: 0;}
.pagination .page-link {
    background-color: #ecf0fa;
    border: 1px solid #cdd7ef;
	font-size:14px
}
.page-item + .page-item {
    margin-left: 1px;
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #0162e8;
    border-color: #0162e8;
}
.pagination .page-link {
    background-color: #ecf0fa;
    border: 1px solid #cdd7ef;
}
.pagination li a {
    margin-right: 4px;
    border-radius: 4px;
}
.page-link {
    color: #4d5875;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 38px;
    border-width: 0;
    background-color: #dde2ef;
    margin-left: 0;
    font-weight: 500;
}
.top-table {width:100%;display:flex;justify-content:space-between;align-items: center;}
.w-sl-50{width:70px;}
.card-form{width:100%;margin:10px 0}
.close{position:absolute;top:5px;right:10px;font-size:20px}
.h1-tieude{font-size:24px;text-align:Center}
.modal-footer{width:100%;display:flex;justify-content: center;}
.w-100{width:80px}
.modal-body{padding:20px 0}
.width-120{width:120px}
.width-50{width:50px}
.col-d-6{margin-left:10px;margin-top:10px}
.max-height, .item-3{max-height:330px;overflow:auto}
.mg-10{margin-top:10px}
.ketquatimkiem{width: calc(100% - 20px);margin:10px;
    padding: 10px;
    background: #fff;
}
.basic-auto{flex-basis:auto}
.flex-start{align-items:flex-start}
.row-traodoi{width:100%;display:flex;justify-content:space-between}
.thumuctin{width:250px;margin-left:10px}
.tim-kiem{width:100%}
.pd-l-0 {padding-left:0}
.pd-r-0 {padding-right:0}
.mg-0 {margin-bottom:0}
.menu-sub {display:none}
.show .menu-sub{display:block}
.thumuc{background:#364261;color:#fff;text-align:Center;padding:5px 0;font-size:14px;}
.ul-thumuctin{width:100%;padding:0;margin:10px 0}
.ul-thumuctin li {padding:8px 0;font-size:14px;width:100%;display:block}
.ul-thumuctin li .click-menu-tin{display:block;width:100%;cursor:pointer}
.menu-sub {padding:5px 10px;box-sizing:border-box;background:#fff;margin:5px 0 0;}
.show .fa-plus-square::before {
   content: "\f146";
}
.menu-sub li {font-size:13px;}
.ul-thumuctin li a {color:#031b4e}
.ul-thumuctin li .fa-angle-right, .ul-thumuctin li .fa-angle-double-right{font-size:12px;padding-right:5px}
.ul-thumuctin li:hover {background:#0162e8}
.ul-thumuctin li:hover span, .ul-thumuctin li:hover a{color:#fff}
.ul-thumuctin li:hover ul li a {color:#0162e8}
.ul-thumuctin li ul li:hover a {color:#fff}